.heading--main {
  width: 687px;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  margin: 0 auto;
  margin-bottom: 100px;

  @media (max-width: 1200px) {
    margin-bottom: 76px;
  }
  @media (max-width: 992px) {
    margin-bottom: 0px;
  }
  @media (max-width: 767px) {
    width: 96%;
    font-size: 25px;
    line-height: 33px;
  }
}

.faq-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("../img/phone.png");
  background-position: center 0;
  background-repeat: no-repeat;
  padding-top: 74px;
  padding-bottom: 80px;

  @media (max-width: 992px) {
    background-image: none;
  }
  @media (max-width: 767px) {
    width: 96%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .faq-item {
    width: 390px;
    height: 180px;
    background: #f4f9ff;
    box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
    border-radius: 5px;
    padding: 23px 16px;
    margin-bottom: 42px;
    position: relative;

    @media (max-width: 992px) {
      width: 350px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }

    .faq-heading {
      font-family: Poppins, Noto Sans TC, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.079em;
      color: #2dafd7;
      margin-bottom: 21px;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }

    .faq-text {
      width: 320px;
      font-family: Poppins, Noto Sans TC, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.04em;
      color: #195b84;

      @media (max-width: 767px) {
        width: 100%;
        font-size: 16px;
      }
    }
  }

  & .faq-item:nth-child(4) {
    padding: 11px 17px;
  }

  & .faq-item::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 2px;
    border-radius: 2px;
    height: 170px;
    background-color: #2dafd7;
  }

  & .faq-item:nth-child(1)::after,
  .faq-item:nth-child(3)::after {
    right: 1px;
  }
  & .faq-item:nth-child(2)::after,
  .faq-item:nth-child(4)::after {
    left: 1px;

    @media (max-width: 992px) {
      left: 99.5%;
    }
  }
}
