html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Top Signals
    link(rel="icon" type="image/x-icon" href="../img/favicon.ico")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@700&family=Noto+Sans+TC:wght@400&display=swap" rel="stylesheet")

  body
    div.wrapper
    main.container
      include section-header.pug
      include section-main.pug
