div.section-main
  h2.heading.heading--main КАК НАЧАТЬ ЗАРАБАТЫВАТЬ НА СИГНАЛАХ
  ul.faq-box
      li.faq-item
        h3.faq-heading Кто разработчик?
        p.faq-text Торговые сигналы базируются #[br] на стратегиях, которые разрабатывают управляющие активами
      li.faq-item 
        h3.faq-heading Как протестировать?
        p.faq-text Убедиться в том, что торговые сигналы прибыльные, можно, протестировав роботов, #[br] которые их присылают
      li.faq-item
        h3.faq-heading Как это работает?
        p.faq-text Торговые сигналы будут приходить вам в Телеграм-канал, а вы будете открывать и закрывать сделки в телефоне
      li.faq-item
        h3.faq-heading Как снизить риски при торговле по сигналам?
        p.faq-text Сигналы можно протестировать #[br] на демо счете в течение недели, затем начать торговать минимальными объемами 
